.story {
    position: relative;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: $border-radius-small;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    &__shape {
        width: 15rem;
        height: 15rem;
        background-color: orangered;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem)skewX(12deg);
    }
    &__img {
        height: 100%;
        width: 100%;
        transform: scale(1.1);
        transition: all .5s;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    &__text {
        transform: skewX(12deg);
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    &:hover &__caption {
        opacity: 1;
        transform: translateY(-50%, -50%);
    }
    &:hover &__img {
        transform: scale(1.0);
        backface-visibility: hidden;
        filter: blur(3px) brightness(80%);
        -webkit-filter: blur(3px) brightness(80%);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
    }
}